[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

MemoryCaptures/
Recordings/

Assets/AssetStoreTools*

# Visual Studio
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# OS
.DS_Store
Thumbs.db

# Unity generated
*.apk
*.aab
*.unitypackage

# Addressables
Assets/AddressableAssetsData/*/*.bin*

# Crash reports
sysinfo.txt